<head style="background: linear-gradient(135deg, #71b7e6, #07f361);">
    <link rel="stylesheet" href=".\home12.component.css" />
</head>
<body style="background: linear-gradient(135deg, #71b7e6, #07f361);">
<div class="gfg">
    <img src=".\assets\1_DwMJNbbk8_PP9kpk8HIxGw.png" height="400px" width="900px">
    <h3 class="first-txt" >Road Transport Info </h3>
</div>

<a href="./navbar/bussdetails"><button class="button-57" role="button"  style="margin-left: 20px; margin-bottom: 20px;" ><span class="text"><img src=".\assets\images (6).jpeg" width="650px" height="400px"></span><span style="font-size: large;" >click me to get buss details</span></button>
</a>
<a href="./navbar/autodetails"><button class="button-57" role="button" style="margin-left: 90px; margin-bottom: 20px;"><span class="text"><img src=".\assets\Findadealerimage_maxima_x.jpg" width="650px" height="400px" style="border:1px solid #0e0e0e"></span><span style="font-size: large;">click me to get auto details</span></button>
</a>
</body>
<router-outlet></router-outlet>