<body class="body" style="background: linear-gradient(135deg, #71b7e6, #07f361);">
    <div class="d-block mx-auto w-50">
        <label for="RollNumber">To destination</label>
        <input type="text" name="to12" id="to123" class="form-control" [(ngModel)]="to12"
            placeholder="Ex:narasaraopet">
        <div class="d-flex my-2">
            <input type="submit" value="Get all" class="btn btn-primary" (click)="Read('All')">
            <input type="submit" [value]="'Get '+ to12" class="btn btn-primary mx-1" (click)="Read(to12)">
        </div>
        <p *ngIf="!(Results.length!=0 && GotResult)" class="text-danger">No Result to Show</p>
    </div>
    <table class="table w-50  mx-auto" *ngIf="Results.length!=0 && GotResult">
        <thead class="thead-dark">
            <tr> 
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">BusNo</th>
                <th scope="col">Time</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let Data of Results">
                <th scope="row">{{Data[0]}}</th>
                <td>{{Data[1]}}</td>
                <td>{{Data[2]}}</td>
                <td>{{Data[3]}}</td>
                <td><input type="button" role="button" class="btn btn-danger" value="delete" (click)="Delete(Data[0])">
                </td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="to12 = Data[0]">
                        Update
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Updated Values</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" name="form123" id="form123" placeholder="From" class="form-control my-1" [(ngModel)]="UpdatedUser.from123">
              <input type="text" name="to123" id="to123" placeholder="To" class="form-control my-1" [(ngModel)]="UpdatedUser.to123">
              <input type="text" name="bussno123" id="bussno123" placeholder="Bussno" class="form-control my-1" [(ngModel)]="UpdatedUser.bussno123">
              <input type="text" name="time123" id="time123" placeholder="Time" class="form-control my-1" [(ngModel)]="UpdatedUser.time123">
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="Update(to12,UpdatedUser)">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </body>